@{
    ViewData["Title"] = "Home Page";
}
<body background ="/Images/RV2-1.png" >
    </body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this app you will be able leave a review for your favorite video games. You can also enter in a non-existing video game to review!</p>
    <p>Click on a Game to see the details.</p>
</div>
<div>
    
    <a><img class="vgIcon" id="fallGuysLogo" src="~/Images/fallguys.png" alt="Fall Guys" /></a>
    <a><img class="vgIcon" id="apexLegendsLogo" src="~/Images/apexlegends.png" alt="Apex Legends" /></a>
    <a><img class="vgIcon" id="bloodhuntLogo" src="~/Images/bloodhunt.png" alt="Bloodhunt" /></a>
    <a><img class="vgIcon" id="fortniteLogo" src="~/Images/fortnite.png" alt="Fortnite" /></a>
    <a><img class="vgIcon" id="pUBGLogo" src="~/Images/pubg.png" alt="PUBG" /></a>
    <a><img class="vgIcon" id="warzoneLogo" src="~/Images/warzone.png" alt="Warzone" /></a>
</div>
@section Styles{
    <style type="text/css">
        .vgIcon {
            width: 280px;
            height: 170px;
            object-fit: cover;
        }
        body {
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
    @*<link href="~/css/index.css"/>*@
    
}