@{
    ViewData["Title"] = "Home Page";
}
<body background ="/Images/RV2-1.png" >
    </body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this app you will be able leave a review for your favorite video games. You can also enter in a non-existing video game to review!</p>
</div>
